<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main-theme.css">
	<link rel="stylesheet" href="/css/lb-progressbar.css">
	<link rel="stylesheet" href="/css/lb-dropzone.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/dashboard.css">
	<link rel="stylesheet" href="/css/basket.css">
</head>
<body>
	<header class="bg-primary-color">
		<div class="brand">
			<img src="/img/logo.png" alt="Littlebit">
		</div>
		<nav>
			<ul>
				<li>Payment Template</li>
			</ul>
		</nav>
		<div class="user-profile right">
			<a href="#">Checkout</a>
			<i class="fa fa-shopping-cart" style="margin-top:15px;font-size:24px"></i>
		</div>
	</header>
	<article class="container">
		<h3 class="basket-title">Checkout basket</h3>
		<ul class="basket-items" id="basket-items">
			<li>Axe trophy <span class="right">Priceless</span></li>
			<li>Xbox console <span class="right">$250</span></li>
			<li>Adafruit module <span class="right">$50</span></li>
			<li id="total" class="total">&nbsp;<span class="right">Total : Priceless+$300</span></li>
		</ul>
		<div class="controls text-right">
			<button class="button button-primary"><i class="fa fa-shopping-cart"></i> Checkout </button>
		</div>
	</article>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/basket.js"></script>
	<script>
	</script>
</body>
</html>