<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main-theme.css">
	<link rel="stylesheet" href="/css/lb-progressbar.css">
	<link rel="stylesheet" href="/css/lb-dropzone.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<header class="bg-primary-color">
		<div class="brand">
			<img src="/img/logo.png" alt="Littlebit">
		</div>
		<nav>
			<ul>
				<li>Dashboard</li>
			</ul>
		</nav>
		<div class="user-profile right">
			<img src="/img/nick.jpg" alt="altbag">
		</div>
	</header>
	<aside class="side-section">
		<h3>THIS MONTH'S CAMPAIGN</h3>
		<li class="card">
			<div class="cover">
				<div class="card-profile">
					<div class="card-logo">
						<img src="/img/hamogelo.png" alt="">
					</div>
					<div class="card-description">
						<p class="card-title">Help us bring food and clothes to orphans</p>
						<p class="card-user">By Hamogelo tou paidiou</p>
					</div>
				</div>
			</div>
		</li>
		<li class="days-remaining">
			<p class="info text-center">DAYS TO GO</p>
			<h2 class="primary-color text-center">10</h2>
		</li>
		<li class="funds-remaining">
			<p>Remaining until goal <span class="right">13.221 $</span></p>
		</li>
		<li class="section-divider">Your account</li>
		<li class="api-status"><p>Your api is <span class="right green-color">connected</span></p></li>
		<li class="backers"><p>Backers through your site <span class="right">213</span></p></li>
		<li class="funds-raised"><p>Total funds raised: <span class="right">10.322$</span></p></li>
	</aside>
	<section class="main-content">
		<div class="notification">
			<div class="notification-icon">
				<i class="fa fa-dashboard"></i>
			</div>
			<div class="notification-text">
				<p><b>Hi there, Nick</b></br>You have helped us raise more than <span class="amount">30k</span>
					for <span class="charity">Hamogelo tou paidiou</span>! Way to go!</p>
			</div>
		</div>
		<article class="row widget-row">
			<div class="col-sm-6">
				<div class="widget">
					<div class="widget-title">
						<h3>Activity stream</h3>
					</div>
					<div class="widget-details">
						<ul class="activity-list">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="widget">
					<div class="widget-title">
						<h3>Authentication</h3>
					</div>
					<div class="widget-description amount-due text-center" id="paymentContainer">
							<button id="payButton" class="button button-primary-o">Show API key</button>
							<div id="api-key" class="hide"></div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
	</article>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="js/lib/moment.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//js.pusher.com/2.2/pusher.min.js"></script>
	<script src="js/dashboard.js"></script>
</body>
</html>
