<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main-theme.css">
	<link rel="stylesheet" href="/css/website.css">
</head>
<body>
	<header>
		<div class="logo">
			<h3>Little Bitch</h3>
		</div>
		<nav>
			<ul>
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Sign up</a></li>
			</ul>
		</nav>
	</header>
	
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
