<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main-theme.css">
	<link rel="stylesheet" href="/css/website.css">
</head>
<body>
	<header>
		<div class="logo">
			<h3>Little Bit</h3>
		</div>
		<nav>
			<ul>
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Sign up</a></li>
			</ul>
		</nav>
	</header>
  <div class="campaign-general-info">

  </div>
  <div class="campaign-description">
    <p>This month's campaign</p>
    <div>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
anim id est laborum</p>
    </div>
  </div>
  <div class="campaign-partners">
  </div>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
