<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <title>LittleBit | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/main-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>

  <body class="">
	<div class="container">
		<div class="login-wrapper">
			<div class="bg-prm-color brand">
				<img src="/img/logo.png" alt="littleBit logo">
			</div>
			<p>Login to your LittleBit Account</p>
			<% if (message!=""){%>
				<span id="error" class="error"><%= message %></span>
			<%}%>
			<form class="js-form" action="/login" method="post">
				<input type="email" name="username" placeholder="Email" id="email">
				<input type="password" name="password" placeholder="Password">
				<button class="bg-prm-color" type="submit">SIGN IN</button>
			</form>
			<div class="buttons">
				<a href="/signup" class="right">Dont have an account? <span class="snd-color">Get started</span></a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			var emailInput = document.getElementById('email');
			var errorMessage = document.getElementById('error');
			var typedCounter = 0;
			$(emailInput).on('keyup', function(event) {
				/* Act on the event */
				typedCounter++;
				if(errorMessage && typedCounter>2){
					errorMessage.remove();
				}
			});
		});
	</script>
  </body>

</html>
