<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <title>LittleBit | Create your account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/main-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>

  <body class="">
	<div class="container">
		<div class="login-wrapper">
			<div class="bg-prm-color brand">
				<img src="/img/logo.png" alt="littlebit logo">
			</div>
			<p>Sign up to get your account</p>
			<form class="js-form" action="/login" method="post">
				
				<input type="text" name="company" placeholder="Company name" required>
				<input type="email" id="mail" name="username" pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<button type="submit" class="bg-prm-color">SIGN UP</button>
			</form>
			<div class="buttons">
				<a href="/">Go back to Login page</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		$(function () {
			$("#error").hide();
			$('form').on('submit', function(event) {
				event.preventDefault();
					$.ajax({
						url: '/create_user',
						type: 'post',
						data: $(this).serializeArray(),
					})
					.done(function(data) {
						if(data.data=="User already exists"){
							$("#error").show();
							$("#error").html("User already exists");

						}
						else if(data.data=="Invalide promo code"){
							$("#error").show();
							$("#error").html("Invalid beta code. If you havent got an invite, request one <a href='http://PanelSensor.me'>here</a>");
						}
						else{
							window.location.href="/";
						}
				});
			});
		});
	</script>
  </body>

</html>